@{
    ViewData["Title"] = "Home Page";
}
@section Styles
    {
    <style>
         p {
             color: blue
         }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table id="tableEmployee" class="table table-bordered  table-hover">
        <thead>
            <tr>
                <th>姓名</th>
                <th>年資</th>
                <th>薪水</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section Scripts
    {
    <script>
        var emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        }

        //for(let i = 0;i<emp.employees.length;i++)
        //{
        //  console.log(  emp.employees[i].name);
        //console.log(emp.employees[i].workYears);
        //console.log(emp.employees[i].salary);


        //}


        //  const datas =   emp.employees.map(employee=>{
        //    const {name, workYears, salary} = employee;
        //    return(
        //        `
        //        <tr>
        //                <td>${name}</td>
        //                <td>${workYears}</td>
        //                <td>${salary}</td>
        //       </tr>
        //        `
        //    )
        //})
        //document.querySelector('#tableEmployee>tbody').innerHTML = datas.join("");

        const datas = emp.employees.map(employee => {
            const { name, workYears, salary } = employee;
            return (
                `
                        <tr>
                                   <td>${name}</td>
                                   <td>${workYears}</td>
                                   <td>${salary}</td>
                        </tr>
                        `
            )
        })
        document.querySelector('#tableEmployee>tbody').innerHTML = datas.join("");

    </script>
}